# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Mac-specific files
.DS_Store

# OS junk
Thumbs.db

# IDEs
.vscode/
.idea/

# Optional: Ignore MongoDB data dumps
dump/
